{% extends 'base.html.twig' %}

{% block title %}Eleve - {{ eleve.nom }} {{ eleve.prenom }}{% endblock %}

{% block body %}
    <h1>Détails de {{ eleve.prenom }} {{ eleve.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eleve.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ eleve.prenom }}</td>
            </tr>
            <tr>
                <th>NumRue</th>
                <td>{{ eleve.numRue }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ eleve.rue }}</td>
            </tr>
            <tr>
                <th>Copos</th>
                <td>{{ eleve.copos }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ eleve.ville }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ eleve.tel }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ eleve.mail }}</td>
            </tr>
            
            
            <tr>
                <th>Cours Inscrits</th>
                <td>
                    
                    {% for inscription in eleve.inscriptions %}
                        
                        
                        {% if inscription.cours is not null %}
                            {# On affiche le libellé du cours #}
                            *{{ inscription.cours.libelle }} le {{ inscription.cours.jour.libelle }}  à : {{ inscription.cours.heureDebut|date('H:i') }}
                            {# {% if inscription.dateInscription is defined %}
                                (Depuis le {{ inscription.dateInscription|date('d/m/Y') }})
                            {% endif %} #}
                            
                            <br>
                        {% else %}
                            <span class="text-muted">Aucun cours associé à cette inscription.</span>
                        {% endif %}

                    {% else %}
                        {# Ce bloc s'exécute si eleve.inscriptions est vide #}
                        <span class="text-danger">Cet élève n'a aucune inscription enregistrée.</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>
                    {% for unResponsable in eleve.responsables %}
                        <a href="{{ path('app_responsable_show', {'id': unResponsable.id}) }}">
                            {{ unResponsable.prenom }} {{ unResponsable.nom }}
                        </a>
                        
                        {# On ajoute une virgule si ce n'est pas le dernier #}
                        {% if not loop.last %}, {% endif %}
                    {% else %}
                        Aucun responsable associé
                    {% endfor %}
                    </td>
            </tr>
           
            
        </tbody>
    </table>

    <a href="{{ path('app_eleve_index') }}" class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}" class="btn btn-dark">Modifier</a>
    
    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}