{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quotite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.dateDebut ? intervention.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ intervention.dateFin ? intervention.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ intervention.description }}</td>
                <td>{{ intervention.prix }}</td>
                <td>{{ intervention.quotite }}</td>
                <td>
                    <a href="{{ path('app_intervention_show', {'id': intervention.id}) }}">show</a>
                    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intervention_new') }}">Create new</a>
{% endblock %}
