{% extends 'base.html.twig' %}

{% block title %}Responsable{% endblock %}

{% block body %}
    <h1>Responsable  {{ responsable.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ responsable.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ responsable.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ responsable.prenom }}</td>
            </tr>
            <tr>
                <th>NumRue</th>
                <td>{{ responsable.numRue }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ responsable.rue }}</td>
            </tr>
            <tr>
                <th>Copos</th>
                <td>{{ responsable.copos }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ responsable.ville }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ responsable.tel }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ responsable.mail }}</td>
            </tr>
            <tr>
                <th>Élèves</th>
                <td>
                    {% for unEleve in responsable.eleve %}
                        <a href="{{ path('app_eleve_show', {'id': unEleve.id}) }}">
                            {{ unEleve.prenom }} {{ unEleve.nom }}
                        </a>
                        
                        {# On ajoute une virgule si ce n'est pas le dernier #}
                        {% if not loop.last %}, {% endif %}
                    {% else %}
                        Aucun unEleve associé
                    {% endfor %}
                    </td>
            </tr>
        </tbody>
    </table>

   


      <a href="{{ path('app_responsable_index') }}" class="btn btn-info">Retour à la liste</a>

    <a href="{{ path('app_responsable_edit', {'id': responsable.id}) }}" class="btn btn-warning">Modifier</a>

    {{ include('responsable/_delete_form.html.twig') }}
{% endblock %}
