{% block title %}Accueil{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    {% if 'ROLE_USER' in app.user.roles %}
        <p></p>
    {% elseif 'ROLE_Admin' in app.user.roles %}

        <p>Connecté en tant que : {{ app.user.nom }}</p>
        <p>ID de l'utilisateur : {{ app.user.id }}</p>

            {% if 'ROLE_ADMIN' in app.user.roles %}
                <p>Rôle : Administrateur</p>
            {% elseif 'ROLE_USER' in app.user.roles %}
                <p>Rôle : Utilisateur</p>
            {% endif %}

    {% endif %}

    <h2>Bienvenue <strong>{{app.user.prenom}} {{app.user.nom}}</strong></h2>
    {{app.user.eleve.tel}}
    <div>
        <a href="{{ path('app_paiment_index') }}" class="btn">Liste des paiements</a>
        <a href="{{ path('app_instrument_index') }}" class="btn">Parc instruments</a>
    </div>

    <h3>Mes cours :</h3>
    <ul>
    {% for cours in coursList %}
        <li>{{ cours.nom }} - {{ cours.professeur.nom }}</li>
    {% else %}
        <li>Aucun cours inscrit.</li>
    {% endfor %}
    </ul>   


    <br>
    <br>
    <br>
    <br>
    <a href="{{ path('app_logout') }}" class="btn">Se déconnecter</a>


{% endblock %}
