{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <h2>Bienvenue {{ app.user.prenom }} {{ app.user.nom }}</h2>
    
    {% if is_granted('ROLE_ADMIN') %}
        <p>Connecté en tant que : {{ app.user.nom }}</p>
        <p>ID de l'utilisateur : {{ app.user.id }}</p>
        <p>Rôle : Administrateur</p>
        
    {% elseif is_granted('ROLE_GESTIONNAIRE') %}
        <p>Connecté en tant que gestionnaire</p>
        <div>
            <a href="{{ path('app_paiment_index') }}" class="btn">Liste des paiements</a>
            <a href="{{ path('app_instrument_index') }}" class="btn">Parc instruments</a>
        </div>
        
    {% elseif is_granted('ROLE_RESPONSABLE') %}
        <div>
            <a href="{{ path('app_paiment_index') }}" class="btn">Liste des paiements</a>
            <a href="{{ path('app_instrument_index') }}" class="btn">Parc instruments</a>
        </div>
        <h3>Mes élèves :</h3>

    
        
    {% elseif is_granted('ROLE_ELEVE') %}
        <div>
            <a href="{{ path('app_paiment_index') }}" class="btn">Liste des paiements</a>
            <a href="{{ path('app_instrument_index') }}" class="btn">Parc instruments</a>
        </div>
        <br>
        <h3>Mes cours :</h3>  
        {% if coursList is not empty %}
            <table class="table" >
                <thead>
                    <tr>
                        <th>Nom du cours</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cour in coursList %}
                        <tr>
                            <td>{{ cour.libelle }}</td>
                            <td>{{ cour.heureDebut|date('d/m/Y à H:i') }}</td>
                            <td>
                                <a href="{{ path('app_cours_show', {'id': cour.id}) }}">Voir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_inscription_cours') }}" class="btn">S'inscrire à un cours</a>
        {% else %}
            <p>Aucun cours inscrit.</p>
        {% endif %}
        
    {% else %}
        <p>Rôle non reconnu</p>
    {% endif %}
    
    <br><br><br><br>

{% endblock %}