{% extends 'base.html.twig' %}

{% block title %}Paiment index{% endblock %}

{% block body %}
    <h1>Paiment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>DatePaiment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiment in paiments %}
            <tr>
                <td>{{ paiment.id }}</td>
                <td>{{ paiment.montant }}</td>
                <td>{{ paiment.datePaiment ? paiment.datePaiment|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_paiment_show', {'id': paiment.id}) }}">show</a>
                    <a href="{{ path('app_paiment_edit', {'id': paiment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paiment_new') }}">Create new</a>
{% endblock %}
