{% extends 'base.html.twig' %}

{% block title %}Paiment index{% endblock %}

{% block body %}
    <h1>Paiment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                {% if isAdmin %}
                    <th>Eleve</th>
                {% endif %}
                <th>DatePaiment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiment in paiments %}
            <tr>
                <td>{{ paiment.id }}</td>
                <td>{{ paiment.montant }}</td>
                {% if isAdmin %}
                    <td>{{ paiment.eleve.prenom }} {{ paiment.eleve.nom }}</td>
                {% endif %}
                <td>{{ paiment.datePaiment ? paiment.datePaiment|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_paiment_show', {'id': paiment.id}) }}">show</a>
                    {% if isAdmin %}
                        <a href="{{ path('app_paiment_edit', {'id': paiment.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ isAdmin ? '5' : '4' }}">Pas de paiements à regularisé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if isAdmin %}
        <a href="{{ path('app_paiment_new') }}">Create new</a>
    {% endif %}
{% endblock %}